/* Body */
body {
  background-color: #5C4B99;
  
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.top-header-section {
  background-color: #9F91CC;
  font-size: large;
  padding: 1%;
  border-style: solid;
}
#pitch{
  font-size: x-small;
}

/* Left Side of Site */
.left-half {
  background-color: #5C4B99;
  position: absolute;
  top: 25%;
  bottom: 24.3%;
  width: 48%;
  left: 9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 10px;
}
.show-rating {
  background-color: black;
  color: #5C4B99;
  padding: 5px;
  position: center;
  bottom: 0;
  width: 96%;
  text-align: center;
  transition: opacity 0.3s;
  pointer-events: none;
  margin-left: 0px;
}
.left-half-details {
  background-color: #9F91CC;
  text-align: left;
  border-style: solid;
  width: 47%;
  margin-top: 31%;
  position: absolute;
  margin-left: 40%;
}
.hover-text {
  font-size: smaller;
}



/* Right Side of Site */
.right-half {
  background-color: #9F91CC;
  position: absolute;
  top: 25%;
  bottom: -13.9%;
  width: 47%;
  right: 9px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
#form {
  margin: 2%;
  padding: 1%;
}
.search-list {
  background-color: #5C4B99;
}
.hidden {
  display: none;
}

.search-list {
  list-style-type: none;
  padding: 0;
  border: 1px solid #5C4B99;
}

.search-list li {
  padding: 8px 16px;
  border-bottom: 2px solid #5C4B99;
  border-color: rgb(40, 40, 40);
}
#query-details {
  background-color: #FFDBC3;
}
.container {
  display: flex;
}

/* New Show Form */
.new-show-div {
  background-color: #9F91CC;
  width: 48%; 
  height: 100px;
  text-align: left;
  border-style: solid;
  position: absolute;
  bottom: 35px; 
  left: 24.7%; 
  transform: translateX(-50%);
  margin-top: 29%;
  height: 29%;
  top: 25%;
}



 #submit-span {
  text-align: right;
}

.new-show-form li{
  list-style-type: none;
}

#new-show-btn{
  position: absolute;
}
#form-image{
  background-color: #FFDBC3;
}
#form-title{
  background-color: #FFDBC3;
}
#form-run{
  background-color: #FFDBC3;
}
#form-lang{
  background-color: #FFDBC3;
}
#form-rating{
  background-color: #FFDBC3;
}
#new-show-btn{
  background-color: #5C4B99;
}